<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <img [src]="servicio.Imagenservicio" class="img-fluid w-100" alt="Responsive image">
            <br>
            <br>
           

        </div>
        <br>
        <br>
        
        <div class="row detalles bg-primary text-white detalleServicio">
            <div class="col-12 col-sm-6">
                <br>
                <br>
                <div class="col-12 name-icon servis ">
                    <h2>{{servicio.Name}}</h2>
                    <img [src]="servicio.Iconoservicio" alt="icono">
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="col-12 descripcion">
                    <p>{{servicio.Descripcion}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
