<br><br>
<div class="container">
    <div class="row">
     <!--   <div class="row">
            <div class="col-12">
                <img [src]="especialidad.ImagenEspecialidad" class="img-fluid" alt="Responsive image">
            </div>
        </div>
        <br><br> -->
        <div class="row detalles bg-primary text-white ">
            <div class="col-12 col-sm-6">
                <div class="col-12 name-icon">
                    <h2>{{especialidad.Name}}</h2>
                    <h3>{{especialidad.Precio}}</h3>
                    <h4>{{especialidad.Atencion}}</h4>
                    <img [src]="especialidad.IconoEspecialidad" alt="icono">
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="col-12 descripcion">
                    <p>{{especialidad.Descripcion}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>