<header class="site-header">
    <navegador class="nav-bar">
    </navegador>
    <div class="container">
        <div class="row">
            <div class="col-12">    
               <!-- <h2 class="">Hola</h2>-->
                <img class="mano" src="../../../assets/images/mano.png" alt="">
                <br>
                <br>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 breadcrumbs">
                    <ul class="d-flex flex-wrap align-items-center p-0 m-0">
                        <li>
                            <a id="sacarcita"   [routerLink]="['/especialidad']" class="button gradient-bg botonepico">
                                Sacar Cita
                            </a>
                        </li>
                    </ul>
                </div><!-- .breadcrumbs -->
                <br>
                <br>
                <div class="col-13">
                    <p>Tu salud en nuestras manos! </p>
                </div>
            </div>
        </div>
        <img class="header-img pisnhiimagen" src="../../../assets/images/bannerprincipal1.png" alt="">
        <br>
    </div>
</header>
