<!-- Welcome Area Starts -->
<br>
<br>
<section class="welcome-area ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 align-self-center">
                <div class="welcome-img">
                    <img src="../../../assets/images/welcome1.png" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="col-12 col-lg-10 sinmargin">
                    <div class="welcome-text mt-5 mt-lg-0">
                        <h2>Bienvenido a nuestra Centro Medico</h2>
                        <p class="pt-3 text-justify">Muchas personas de una forma u otra han sido afectadas por el cáncer y es difícil imaginar a alguien que no haya escuchado acerca de esta enfermedad. Pensando en cada uno de ellos, el Centro Medico Maria Axuiliadora, centro privado para el tratamiento integral del cáncer, conformado por un staff de reconocidos especialistas en Oncología y respaldado por tecnología de punta para uno de los tratamientos necesarios.
                            </p>
                        <p class="text-justify">Mi más cordial y sincera bienvenida a nuestra página web, canal por el cual espero trasmitir cada uno de nuestros valores y principios y en la que podrán encontrar de manera ágil y rápida la información de todos nuestros servicios, especialidades y de nuestro cuerpo médico.</p>
                        <a [routerLink]="['/about']" class="template-btn mt-3">Mas Información</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<!-- Welcome Area End -->
<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-md-7 col-lg-7 wrap-about ftco-animate textoencajado">
                <div class="col-12 wasa">
                    <div class="heading-section mb-5">
                        <div class="">
                            <h2 class="" style="font-size: 28px;">
                                Especialistas en enfermedades oncologicas
                            </h2>
                        </div>
                    </div>
                    <div class="">
                        <p class="text-justify">
                            El Centro Medico Maria Axuiliadora tiene un enfoque de atención multidisciplinaria, gracias a ello nuestro paciente recibirá la atención más eficiente: exámenes, tratamiento y seguimiento de la enfermedad.
                            <br>
                            Nuestra calidad, seguridad, humanización del servicio y la estandarización de procedimientos nos hacen garantizarle a nuestros pacientes una muy buena atención.
                        </p>
                        <div class="row mt-5 pt-2">
                            <div class="col-lg-6">
                                <div class="services-2 d-flex">
                                    <div class="text">
                                        <h3>
                                            Atención primaria
                                        </h3>
                                        <p>Prevencion para evitar la enfermedad oncologica</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="services-2 d-flex">
                                    <div class="text">
                                        <h3>
                                            Prueba de laboratorio
                                        </h3>
                                        <p>Deteccion de posible enfermedad oncologica</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="services-2 d-flex">
                                    <div class="text">
                                        <h3>
                                            Comprobación de síntomas
                                        </h3>
                                        <p>Deteccion mediante los sintomas que tiene el paciente</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="services-2 d-flex">
                                    <div class="text">
                                        <h3>
                                            Ritmo cardiaco
                                        </h3>
                                        <p>Posiblemente el ritmo cardiaco se torne anormal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 img img-2 mt-md-0 abrazo" style="background-image: url(../../../assets/images/about2.PNG);">
            </div>
        </div>
    </div>
</section>
<br>
<br>

<!--<div class="container">
    <div class="row">
        <div id="carouselExampleIndicators" class="alv carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner alv">
                <div class="carousel-item active alv">
                    <video class="alv" src="../../../assets/media/72778989_1130113967378290_7442494174332452864_n.mp4" preload controls></video>
                </div>
                <div class="carousel-item alv">
                    <video class="alv" src="../../../assets/media/78039987_1380950768780327_6140762137502416896_n.mp4" preload controls></video>
                </div>
                <div class="carousel-item alv">
                    <video class="alv" src="../../../assets/media/78834998_2865146220217020_1317955953668128768_n.mp4" preload controls></video>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
</div>-->

<br>
<br>
