/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700');

body {
    color: #404040;
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Raleway', sans-serif;
}


/*--------------------------------------------------------------
# Single Page
--------------------------------------------------------------*/
.single-page .site-header {
    position: relative;
 /*   padding: 220px 0 140px;*/
    background-color: #f0f4f8;
}

.single-page .site-header h1 {
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 600;
    color: #404040;
}

.single-page .site-header .header-img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 65%;
    height: auto;
}
