<footer class="site-footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="foot-about">
                        <h2>
                            <a style="float: left;" [routerLink]="['']"><img src="../../assets/images/logotipo.PNG" alt=""></a>
                        </h2>
                        <p>El médico competente, antes de dar una medicina a su paciente, se familiariza no sólo con la enfermedad que desea curar, sino también con los hábitos y la constitución del enfermo.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                    <div class="foot-contact">
                        <div class="col-12">
                            <h2 style="float: left;">Contactanos</h2>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-12">
                            <ul class="p-0 m-0">
                                <li><span >Direccion:</span>Av. Independecia #145 Tambo-Huancayo</li>
                                <li><span >Celular:</span>+51 958864658</li>
                                <li><span >Correo:</span>cmariaauxiliadora2019@gmail.com</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                    <div class="foot-links">
                        <div class="col-12">
                            <h2 style="float:left;">Enlaces útiles</h2>
                            <a style="float: right;"  href="https://www.facebook.com/MAcentromedico"><span class="fab fa-3x fa-facebook fanpage"></span></a>
                        </div>
                        <br><br><br>
                        <div class="col-12">

                            <ul class="p-0 m-0">
                                <li><a [routerLink]="['']">Inicio</a></li>
                                <li><a [routerLink]="['/about']">Nosotros</a></li>
                                <li><a [routerLink]="['/especialidad']">Especialidades</a></li>
                                <li><a [routerLink]="['/servicios']">Servicios</a></li>
                                <li><a [routerLink]="['/contact']">Contactanos</a></li>
                            </ul>
                        </div>

                    </div>
                  
                </div>
            </div>
           
            
        </div>
    </div>
</footer>
