<div class="med-history">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-lg-6">
                <h2>Historia</h2>
                <p class="text-justify">El Centro Medico Maria Auxiliadora fue creado en febrero del 2019 pensando en la salud de la ciudadania esta uicada en Av. Independencia # 145
                    el Tambo-Huancayo, a cargo del medico oncologo Valentin Bejarano Jhon Henry, cuenta con un staff de medicos especialistas distribuidos en las especialidades que ofrecemos
                    Ademas contamos con el servicio de Emergencia adulta y pediatria. Nuestro equipo de guardia esta conformado por medicos que garantizan el cuidado de la vida y la ssalud, mediante la 
                prestacion de servicio seguro, humanizado y diferenciado con personal altamente calificado.</p>

            </div>

            <div class="col-12 col-lg-6 mt-5 mt-lg-0">
                <img class="responsive" src="../../../assets/images/about3.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="quality-services">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center"></h1>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h3 class="titulo">Misión</h3>
                        <p class="text-justify">Cooperar con el cuidado de la vida y la salud, mediante prestacion de un servicio, seguro, humanizado y diferenciado, con personal altamente calificado y una buena gestion que garantice creacion de valor a sus grupos sociales objetivos, sostenibilidad economica y permanencia en el tiempo.</p>
                    </div>

                    <div class="col-12 col-md-6">
                        <h3 class="titulo">Visión</h3>
                        <p class="text-justify">Para el 2021 ser una institución de la salud de alta calidad, lider en cuidado exhaustivo, segura, humanizada y centro de referencia de la region Junin</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!--<app-doctor></app-doctor>-->