<header class="site-header">
    <navegador class="nav-bar">
    </navegador>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Reserva</h1>
                <div class="breadcrumbs">
                    <ul class="d-flex flex-wrap align-items-center p-0 m-0">
                        <li><a>Reserva</a></li>
                        <li>Sing In</li>
                    </ul>
                </div><!-- .breadcrumbs -->
            </div>
        </div>
        <img class="header-img pisnhiimagen" src="../../../../assets/images/about-bg.png" alt="">
    </div>
</header>

